# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.egg-info/
*.egg

# Virtual envs
.env/
.venv/
venv/

# Project outputs
logs/
!logs/.gitkeep
data/
!data/.gitkeep
build/
dist/

# VS Code / IDE
.vscode/
.idea/

# pytest cache
.pytest_cache/

# Ruff cache
.ruff_cache/
